<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Flickr</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.8/angular-animate.js"></script>
	<script src="./lib/angular-messages.min.js"></script>
	<script src="./module.js"></script>
</head>
<body ng-app="myApp">
	<div name="bodyDiv" id="bodyDiv" ng-controller="myCtrl as vm">
		<div name="searchDiv" id="searchDiv">
			<h1>Flickr Searcher</h1>
			<form name="vm.myForm" ng-submit="vm.formSubmit(vm.tag)">
				<span><input id="inputText" type="text" ng-model="vm.tag" placeholder="Enter a tag to search for" required>
					&nbsp &nbsp &nbsp<input type="submit"></span>
			</form>
		</div>
		<div name="searchingDiv" id="searchingDiv" ng-show="vm.searchingDiv">
			<h3>Searching Instagram for photos tagged with "{{ vm.tag }}"</h3>
		</div>
		<div name="resultsDiv" class="resultsDiv" ng-if="vm.results">
			<h3>We found {{ vm.results.length }} results for "{{ vm.tagger }}"</h3>
			<ul>
				<div ng-repeat="result in vm.results">
					<li><img ng-src="{{ vm.trustSrc('https://farm' + result.farm + '.staticflickr.com/' + result.server + '/' + result.id + '_' + result.secret + '.jpg') }}" width="350" height="250"></li>
				</div>
			</ul>
		</div>	
	</div>
</body>
</html>