body {
	text-align: center;
}

ul div {
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}

#bodyDiv {
	margin-top: 200px;
}

.resultsDiv {
	transition: all linear 2s;
}

.resultsDiv.ng-enter {
	opacity: 0;
}

.resultsDiv.ng-enter-active {
	opacity: 1;
}